.headingcontainer h1 {
    font-size: 8em;
    font-weight: bold;
    text-align: center;
}

.headingcontainer h3 {
    font-size: 2.16em;
    font-weight: lighter;
    text-align: center;
    margin-top: -1.5em;
}

.infoblock {
    margin: 2em;
}

#error {
    font-weight: bold;
    color: darkred;
    text-align: center;
}

#info {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.2em;
    grid-auto-rows: minmax(2em, auto);
    margin: auto;
    width: 21em;
}

#board div {
    border: 2px solid dimgray;
    font-size: 2em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

#board .nailedit, #keyboard .row div.nailedit {
    background-color: green;
}

#board .somewhere, #keyboard .row div.somewhere {
    background-color: yellow;
}

#board .nope, #keyboard .row div.nope {
    background-color: gray;
}

#keyboard {
    margin: 1em;
    text-align: center;
}

#keyboard .row div {
    display: inline-block;
    padding: 0.8em;
    background: lightgray;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0.17em;
    line-height: 1.7em;
    user-select: none;
}

#keyboard .row div:hover {
    background-color: aquamarine;
}

#keyboard .row div svg {
    display: inline-block;
}

button#newgame {
    margin: 2em auto;
    display: block;
    background-color: lightgray;
    padding: 1em;
    border-radius: 0.7em;
    box-shadow: 0.3em 0.3em 0.6em gray;
    font-weight: bold;
    font-size: 120%;
}

button#newgame:active {
    box-shadow: 0.05em 0.05em 0.2em gray;
}